.create-idea-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.create-Heading {
	margin: 0 0 5%;
}

.ideaPreview {
	display: flex;
	flex-direction: column;
	align-items: center;
}


@media screen and (min-width: 960px){
  .create-content {
		display: flex;
		justify-content: center;
	}

	#idea-form {
		width: 50%;
	}

	.ideaPreview {
		width: 43%;
		max-width: 500px;
		margin: 5% 0 0 5%;
	}
}

