.ideaListContainer.single{
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 25px auto 0;
  text-align:center;

  .publicItem{
    width: 100%;
		max-width: 600px;
    height: 210px;
    background: #f3f4f5;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
    padding: 1.25rem 0 1.25rem 1.25rem;
    border: 0;
    border-bottom: 0.15rem solid rgba(0,0,0,0.2);
    display:flex;
    justify-content: space-between;
    align-items: center;
  
    .publicItemTitle{
      font-family: "Self Modern";
      font-weight: normal;
      font-size: 1.7rem;
      line-height: 2rem;
      margin-top: 0.3rem;
    }

    .publicItemInfos{
      height: 100%;
      width: 80%;
      text-align: left;
      border-right: 1px solid $mediumGrey;
      padding-right: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .publicItemCat{
        font-size: 0.65rem;
        text-transform: uppercase;
        color: $mediumGrey;
        user-select: none;

        .publicItemCatName{
          color: $ultraViolet;
        }
      } 
      .publicItemDescription{
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }
      .publicItemInfosSecondary{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75rem;
        color: $mediumGrey;

        .publicItemInfosSecondaryRight{
          display: flex;
          align-items: center;

          .publicItemCommentIcon{
            margin-top: 1px;
          }

          .publicItemCommentsCount{
            margin-left: 0.25rem;
          }
          .publicItemDate{
            margin-left:0.75rem;
          }
        }
      }
    }
    .publicItemUpvote{
      width: 20%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 767px){
.ideaListContainer.single{
  .publicItem {
    // width: 100%;
    .publicItemInfos{
      width: 70%;
      border-right: none;

      .publicItemTitle{
        font-size: 1.1rem;
        line-height: 1.3rem;
      }
      .publicItemDescription{
        font-size: 0.7rem;
      }
      .publicItemInfosSecondary{
        flex-direction: column;
        align-items: start; 
        font-size: 0.7rem;
      }
    }
  }
}}