@import './_reset';
@import './form';
@import './nav';
@import './tags';
@import '../css/_fonts/fonts.css';
@import './colors';
@import './buttons';
@import './upvotedownvote';
@import './home';
@import './search';
@import './modal';
@import './login';
@import "./text";
@import './userProfile';
@import './ideapage';
@import './createIdea';
@import './ideaItem';
@import './modal-forms';

// @import './editProfile.scss';

.App {
  text-align: center;
  font-family: 'Plain';
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ideaItem {
  margin: 20px;
}

#upload-profile {
  width: 150px;
}

#main {
  position: relative;
  top: 50px;
  width: 90%;
  margin: 50px auto 50px;
}